<h1>Results</h1>


<table>
  <tr><th>Name</th><th>Postcode</th><th>Email</th></tr>
<% for person in @people %>
      <tr><td><%= person.name %></td><td><%= person.postcode.number %></td><td><%= person.email %></td></tr>
<% end %>
</table>
